@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');

/***** Palette de couleur *****/
  :root {
    --purple:#9356dc; 
    --pink:#ff79da;
    --green-light:#99e2D0;
    --light-gray:#f6f6f6;
    --light--pink:#f5edff;
    --gray:#f7f7f7;
    --dark-gray:#eaeaea;
    --light-black:#353535;
    --green:#008766;
    --white:#ffffff;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  body{
    display: flex;
    box-sizing: border-box;
    display: flex;
    font-family: "Roboto", sans-serif;
    max-width: 1900px;
    flex-direction: column;
  }
  
img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}
.titre{
font-family: "shrikhand",cursive;
font-size: 30px;
font-weight: 400;
font-style: italic;
}
.titre{
  text-align: center;
}
.titre-menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  bottom: 77px;
  border-radius: 48px 48px 0 0;
}
.sens {
  padding-left: 5px;
  font-weight: 400;
  font-family: "shrikhand",cursive;
  font-style: italic;
  font-size: 30px;
}

.article-menu{
  border: 1px solid transparent;
  background-color: white;
  box-shadow: 0 3px 8px lightgrey;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
}
.menus{
  background-color: var(--gray);
  position: relative;
  bottom: 100px;
  padding-bottom: 49px;
}
/*******Couleur du coeur au survole*******/

.icon-heart{
  position: relative;
  right: 30px;
  font-size: 30px;
  padding-right: 10px;
  
}
.icon-heart:hover{
  font-weight: 900;
  background: linear-gradient(to bottom, var(--purple) 30%, var(--pink));
  transition: background-size 2s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/****** Apparition progressive des pages Menu ******/

#article_1, #article_2, #article_3 {
  animation: apparition 600ms ease-in;
}

#article_4, #article_5, #article_6 {
  animation: apparition 1.2s ease-in;
}

#article_7, #article_8, #article_9 {
  animation: apparition 1.8s ease-in;
}

#article_10 {
  animation: apparition 2.4s ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*********************************/
.menu-title{
  margin: 0;
}
.menu-description{
  margin: 0;
}
h3{
  color: #7c7c7c;
  font-weight: 300;
  font-size: 16px;
  padding-left: 13px;
}
.subline{
  border-bottom: 3px solid var(--green-light);
}

.prix{
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 18px;
  padding-bottom: 10px;
}
/******************** Animation du circle-Check ******************/

.select-choix {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-light);
  position: relative;
  width: 59px;
  height: 62px;
  margin-right: -59px;
  transition: all 0.7s;
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-menu:hover .select-choix{
  margin-right: 0;
}
.icon-circle{
  color: white;
  font-size: 30px;
}
@keyframes check-spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
.icon-circle:hover{
  animation:check-spin 0.5s ease-in-out;
}
/********************************************************************/
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
h4,p{
  overflow: hidden;
}
.command {
  display: flex;
  text-align: center;
  padding-top: 25px;
  justify-content: center;
}
.btn-command{
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;
  border-radius: 30px;
  padding: 10px 50px 10px 50px;
  background: linear-gradient(var(--pink),var(--purple));
  color: white;
  box-shadow:0 3px 8px var(--dark-gray);
  flex-wrap: wrap;
  width: 186px;
}
.btn-command:hover{
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0 3px 8px var(--light-black);
}
.order {
  display: flex;
  justify-content: center;
  font-weight:500;
  font-size: 18px;
}

/****** Footer ******/

footer{
  background-color: var(--light-black);
  color: white;
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 101px;
  position: relative;
}
.food{
  font-family: "shrikhand",cursive;
  font-weight: 400;
  padding-bottom: 20px;
  font-style: italic;
}
.icon-fourchette{
  padding-right: 10px;
}
.icon-hand{
  padding-right: 10px;
}

/**************** Mode Desktop et Tablette ******************/

@media (min-width:768px){
.titre-menu, h1{
  justify-content: center;
}
.titre-menu{
  margin-left: 192px;
  margin-right: 193px;
}
.icon-heart{
  display: flex;
  left: 20px;
}
.menus{
  margin-left: 192px;
  margin-right: 193px;
}
.articles{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.entrées, .plats, .desserts{
  width: 50%;
}
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
}

