@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');

/***** Palette de couleur *****/
:root {
    --purple:#9356dc; 
    --pink:#ff79da;
    --green-light:#99e2D0;
    --light-gray:#f6f6f6;
    --light--pink:#f5edff;
    --gray:#f7f7f7;
    --dark-gray:#eaeaea;
    --light-black:#353535;
    --green:#008766;
    --white:#fff;
    --gray--black:#7e7e7e;
  }
a {
    text-decoration: none;
    color: inherit;
  }
body{
    margin: 0;
    display: flex;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    align-items: center;
  }
.maincontainer{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
.loader{
    position: fixed;
    height: 100%;
    inset: 0;
    background-color: var(--white);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.fa-spinner {
    animation: spin 2s infinite linear;
    color: var(--green-light);
  }
  
@keyframes loader{
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
  @keyframes spin{
    to{
      transform: rotate(360deg);
    }
  }
header {
    box-shadow: 0px 10px 10px -15px #111; 
    z-index: 1;
  }

header h1{
    font-family: "Shrikhand",cursive;
  }
  
.titre h1{
    text-align: center;
    font-size: 37px;
    font-weight: 400;
  }
.card{
  border: 1px solid transparent;
  box-shadow: 0 3px 8px lightgrey;
  border-radius: 20px;
  margin-bottom: 20px;
  transition-duration: 0.1s;
}
.subtitle-gray{
  color: var(--gray--black);
  font-weight: 300;
}
img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.search-bar{
  text-align: center;
}
#choix-menu{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.explore-content{
  margin-top: 0;
  padding: 5px;
  background-color: var(--gray);
  padding-bottom: 50px;
}
.restaurants{
  margin-top: 68px;
  background-color: var(--gray);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 64px;
  padding-top: 40px;
}
.bold{
  font-weight: 900;
  font-size: 22px;
  padding-top: 35px;
}
/****** Bouton Explorer ******/
.btn-explore {
  opacity: 1;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background-image: linear-gradient(var(--pink),var(--purple));
  background-color: #686868;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 3px 8px darkgray;
}

.explo{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.btn-explore:hover{
  opacity: 0.8;
  box-shadow: 0 3px 8px var(--light-black);
  transition: 0.3s;
}
/******************************/
.menu{
  margin-top: 48px;
  padding-left: 20px;
}
.choix-element {
  display: flex;
  list-style-type: none;
  border: 1px solid transparent;
  box-shadow: 0 3px 8px darkgray ;
  border-radius: 20px;
  padding:15px 10px  15px 10px;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: var(--light-gray);
}
.choix-element:hover{
  background-color: var(--light--pink);
}
/******* Survole changement de couleur *******/
.choix-element:hover .icon-choix{
  color: var(--purple);
}
/********************************************/
.chiffre{
  display: flex;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  right: 25px;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--white);
  }
.container-img {
    position: relative;
}
.container-img span {
    color: var(--green);
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--green-light);
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 2px;
}
.choix-content p{
  margin: 0;
}
.choix-content{
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
/******* Icon Fonctionnement *******/
.icon-choix{
  display: block;
 margin: auto 0;
 font-size: 20px;
 color: var(--gray--black);
}
/*********************************/
.search-input{
  border: none;
  background-color: transparent;
  padding: 15px;
  font-size: 16px;
  font-family: "roboto",sans-serif;
}
/*******Bouton de recherche de ville********/
.search-box{
  background-color: var(--dark-gray);
  height: 50px;
}

/********************** Les coeurs *********************/
.description{
  display: flex;
  justify-content: space-between;
}

.icon-heart {
  display: flex;
  padding-top: 15px;
  font-size: 30px;
  padding-right: 10px;
  transition: all .5s;
  
}
.icon-heart:hover::before {
  font-weight: 900;
  transition: background-size 2s;
  background: linear-gradient(to bottom, var(--purple) 30%, var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: opacity-fill;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
 @keyframes opacity-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.layout{
  padding-left: 10px;
}
.layout,p{
  margin-top: 0;
}
.layout,h3{
  margin-bottom: 0;
}
/**************** Footer ***************/
footer{
  box-sizing: border-box;
  background-color: var(--light-black);
  color: var(--white);
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.foot{
  font-family: "shrikhand",cursive;
  padding-bottom: 20px;
}
.food{
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}
.icon-fourchette{
  padding-right: 10px;
}
.icon-hand{
  padding-right: 10px;
}

/**************** Mode Desktop et Tablette ******************/
@media (min-width:768px){
.menu{
  padding-left: 30px;
}
#choix-menu{
  display: flex;
  gap: 30px;
}
.choix-element{
  display: flex;
  flex-direction:row;
  width: 25%;
}
.container-restaurants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.foot{
  display: flex;
  justify-content: center;
}
.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
}